<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="./css/styles.css"> 
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <o>This site was created by Bruce Molina. It uses data from mapbox.com and darksky.net</o>
            <img class="portrait" src="img/bruce.jpg">
        </div>
       
        {{>footer}}
    </body>
    
</html>